* {
  box-sizing: border-box;
  font-family: var(--font-sans-serif);
  /* outline-color: var(--color-primary); */
}

body {
  margin: 0;
  padding: 1rem;
}

.border-none {
  border: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}
.font-mono {
  font-family: var(--font-monospace);
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.gap-x-1 {
  column-gap: 0.25rem;
}
.gap-x-3 {
  column-gap: 0.75rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.m-0 {
  margin: 0;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.p-0 {
  padding: 0;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.relative {
  position: relative;
}
.text-muted {
  color: var(--color-foreground-muted);
}
.w-full {
  width: 100%;
}
